{{dateModel | json}}
<input class="form-control"
  #inputRef
  style="visibility: hidden;"
  [disabled]="disabled"
  [minDate]="minDate"
  [maxDate]="maxDate"
  (onShown)="openCalendar($event)"
  [bsConfig]="{ isAnimated: true, adaptivePosition: true, dateInputFormat: onlyMonth ? 'MM/YYYY': 'DD/MM/YYYY',  showWeekNumbers: false, useUtc: true, initCurrentTime: true, containerClass: 'theme-red' }"
  placement="bottom"
  (bsValueChange)="onTypeDate($event)"
  bsDatepicker>
<fast-input #inputRef
  [label]="label"
  [(ngModel)]="inputRef.value"
  [class.ng-touched]="control.touched"
  [class.ng-invalid]="control.invalid"
  (click)="inputRef.click()"
  [placeholder]="placeholder"
  [mask]="onlyMonth ? '00/0000' : '00/00/0000'"></fast-input>
