<ng-container *ngIf="restaurant else skeleton">
  <div class="header"
    style="background-image: url({{restaurant.photo}});">
    <div class="fast-name">
      {{restaurant.name}}
      <div class="fast-rate">{{restaurant.rate | number: '1.1-2'}}</div>
      <div class="fast-info"
        (click)="btnInfo()"></div>
    </div>
  </div>
  <fast-filter placeholder="Pesquisar por produto"></fast-filter>

  <div class="fast-produtos"
    infiniteScroll
    [infiniteScrollDistance]="0.5"
    [infiniteScrollThrottle]="100"
    [fromRoot]="true"
    (scrolled)="scroll()">
    <ng-container *ngFor="let product of products">
      <div class="fast-produto"
        (click)="btnProduct(product)">
        <div class="fast-produto-info">
          <div class="fast-produto-img"
            style="background-image: url({{product.image}});"></div>
          <div class="fast-product-name-info">
            <div class="fast-produto-name">{{product.name}}</div>
            <div class="fast-product-description">{{product.description}}</div>
          </div>
        </div>
        <code
          class="fast-produto-price"><strong> {{product.price | currency}}</strong></code>
      </div>
    </ng-container>
  </div>

</ng-container>

<ng-template #skeleton>
  <div skeleton
    class="header"></div>
  <div skeleton
    class="filter"></div>
  <div class="fast-produtos">
    <div class="fast-produto"
      skeleton
      *ngFor="let product of skeletons">
      <div class="fast-produto-info">
        <div class="fast-produto-img skeleton"></div>
        <div class="fast-produto-name"></div>
      </div>
      <div class="fast-produto-price"></div>
    </div>
  </div>
</ng-template>
