<header>
  <h2 class="d-flex justify-content-center">
    Carrinho
  </h2>
</header>
<main>
  <table class="fast-products">
    <ul class="p-0">
      <li class="fast-product"
        *ngFor="let product of cart.products">
        <div class="fast-product-basic-info-container">
          <div class="fast-product-image-container">
            <div class="fast-product-image"
              [style]="'background-image: url(' + product.image + ');'"></div>
          </div>
          <div class="fast-product-additional-info-container"
            [class.mb-5]="!product.additionals?.length">
            <div class="fast-product-name">
              {{product.name}}
              <code>
                  <strong>
                    {{productTotalPrice(product) | currency}}
                  </strong>
                </code>
            </div>
            <div class="fast-product-description">{{product.description}}</div>
            <div class="fast-additionals"
              *ngIf="product.additionals?.length">
              <input #toggle
                type="checkbox"
                label="toggle"
                title="adicionais"
                hidden>
              <legend class="fast-additional-toggle-container d-flex align-items-center"
                (click)="toggle.click()">
                <span>
                  Adicionais
                </span>
                <fast-icon icon="square-arrow-right"
                  [size]="18"></fast-icon>
              </legend>
              <table class="fast-additionals-container">
                <tr>
                  <th>Nome</th>
                  <th>Quantidade</th>
                  <th class="fast-ellipsis">Preço unitário</th>
                  <th>Total</th>
                </tr>
                <tr *ngFor="let adictional of product.additionals"
                  class="fast-additional-item">
                  <th class="fast-ellipsis">{{adictional.name}}</th>
                  <th>{{adictional.quantity}}</th>
                  <th><code><strong>{{adictional.unitPrice | currency}}</strong></code>
                  </th>
                  <th> <code><strong>{{adictional.total | currency}}</strong></code></th>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </table>
  <div class="fast-payment-method">
    <h3 class="d-flex justify-content-center">Pagamento</h3>
    <div class="fast-payments">
      <ng-container *ngFor="let payment of payments; let index = index">
        <div class="fast-payment"
          [class.selected]="selected?.type === payment.type"
          (click)="selected = payment; form.markAllAsTouched(); generatePix()">
          <span>
            <fast-icon [icon]="payment.icon"
              [size]="18"
              [color]="payment.color"></fast-icon><label
              for="{{payment.name}}">{{payment.name}}</label>
          </span>
        </div>
      </ng-container>
      <form [formGroup]="form"
        *ngIf="selected?.type === 'DEBIT_CARD' || selected?.type === 'CREDIT_CARD'"
        class="fast-card-details mt-3">
        <div class="row">
          <div class="col-12">
            <fast-input formControlName="card"
              errorMessage
              [color]="'default'"
              [leftIcon]="flag || 'debit'"
              mask="0000 0000 0000 0000"
              label="Número do cartão"></fast-input>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <fast-date-picker formControlName="limit"
              label="Mês do vencimento"
              [minDate]="today"
              [onlyMonth]="true"
              [maxDate]="maxDate"
              errorMessage
              mask="00"></fast-date-picker>
          </div>
          <div class="col-6">
            <fast-input label="CVC"
              formControlName="cvc"
              errorMessage></fast-input>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <fast-input label="Nome"
              formControlName="name"
              errorMessage></fast-input>
          </div>
        </div>
      </form>
      <form *ngIf="selected?.type === 'PIX'">
        <div class="code">
          <img src="{{pix?.image}}"
            alt="code">
          <label for="code"
            (click)="copy()"
            class="ellipsis">
            {{pix?.payload()}}
            <fast-icon icon="copy"
              [size]="18"></fast-icon>
          </label>
        </div>
      </form>
    </div>
    <div class="fast-address"
      [formGroup]="form">
      <fast-select label="Endereço"
        [options]="addresses"
        [autocomplete]="true"
        formControlName="address"
        [register]="true"
        (signEvent)="newAdress()"></fast-select>
    </div>
    <div class="fast-address-detail">
      <ng-container *ngIf="address else noSelected">
        <div class="fast-address-detail-data">
          <strong>Rua: </strong>
          <label for="street">{{address.address}} - {{address.number}}</label>
        </div>
        <div class="fast-address-detail-data">
          <strong>CEP: </strong>
          <label for="street">{{address.postalCode || '-'}}</label>
        </div>
        <div class="fast-address-detail-data">
          <strong>Bairro: </strong>
          <label for="street">{{address.district || '-'}}</label>
        </div>
        <div class="fast-address-detail-data">
          <strong>Cidade: </strong>
          <label for="street">{{address.city || '-'}}</label>
        </div>
        <div class="fast-address-detail-data">
          <strong>State: </strong>
          <label for="street">{{address.state || '-'}}</label>
        </div>
        <div class="fast-address-detail-data">
          <strong>Complemento: </strong>
          <label for="street">{{address.complement || '-'}}</label>
        </div>
      </ng-container>
      <ng-template #noSelected>
        Selecione um endereço
      </ng-template>
    </div>
    <div class="fast-total-container">
      <span class="d-flex justify-content-between">
        <strong for="total">Total: </strong>
        <code><strong>{{cart.total | currency}}</strong></code>
      </span>
    </div>
  </div>

</main>
<footer>
  <div class="
      d-flex
      align-content-around
      justify-content-center
      w-100">
    <button type="button"
      class="outline w-50"
      (click)="modalRef.hide()">Fechar</button>
    <button type="button"
      [disabled]="!address || (selected?.type === 'DEBIT_CARD' || selected?.type === 'CREDIT_CARD' ? form.invalid : !selected)"
      class="primary w-50"
      (click)="pay()">Pagar</button>
  </div>
</footer>
