<header>
  <h2 class="d-flex justify-content-center">
    Carrinho
  </h2>
</header>
<main>
  <table class="fast-products">
    <ul class="p-0">
      <li class="fast-product"
        *ngFor="let product of cart.products">
        <div class="fast-product-basic-info-container">
          <div class="fast-product-image-container">
            <div class="fast-product-image"
              [style]="'background-image: url(' + product.image + ');'"></div>
          </div>
          <div class="fast-product-additional-info-container"
            [class.mb-5]="!product.additionals?.length">
            <div class="fast-product-name">
              {{product.name}}
              <code>
                  <strong>
                    {{productTotalPrice(product) | currency}}
                  </strong>
                </code>
            </div>
            <div class="fast-product-description">{{product.description}}</div>
            <div class="fast-additionals"
              *ngIf="product.additionals?.length">
              <input #toggle
                type="checkbox"
                label="toggle"
                title="adicionais"
                hidden>
              <legend class="fast-additional-toggle-container d-flex align-items-center"
                (click)="toggle.click()">
                <span>
                  Adicionais
                </span>
                <fast-icon icon="square-arrow-right"
                  [size]="18"></fast-icon>
              </legend>
              <table class="fast-additionals-container">
                <tr>
                  <th>Nome</th>
                  <th>Quantidade</th>
                  <th class="fast-ellipsis">Preço unitário</th>
                  <th>Total</th>
                </tr>
                <tr *ngFor="let adictional of product.additionals"
                  class="fast-additional-item">
                  <th class="fast-ellipsis">{{adictional.name}}</th>
                  <th>{{adictional.quantity}}</th>
                  <th><code><strong>{{adictional.unitPrice | currency}}</strong></code>
                  </th>
                  <th> <code><strong>{{adictional.total | currency}}</strong></code></th>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </table>
  <div class="fast-payment-method">
    <h3 class="d-flex justify-content-center">Pagamento</h3>
    <code><strong>{{cart.total | currency}}</strong></code>
  </div>

</main>
<footer>
  <div class="
      d-flex
      align-content-around
      justify-content-center
      w-100">
    <button type="button"
      class="outline w-50"
      (click)="modalRef.hide()">Fechar</button>
    <button type="button"
      class="primary w-50">Pagar</button>
  </div>
</footer>
