<header *ngIf="!show">
  <div class="header-content">
    <ng-container *ngIf="mobile else desktop">
      <div class="left">
        <button type="button"
          (click)="checkbox.click()"
          title="open"
          class="open"></button>
        <div class="logo"
          [routerLink]="['/home']"
          routerLinkActive="router-link-active">
        </div>
      </div>
    </ng-container>
    <ng-template #desktop>
      <div class="left">
        <div class="logo"
          [routerLink]="['/home']"
          routerLinkActive="router-link-active">
        </div>
      </div>
      <div class="right">
        <ng-container *ngFor="let button of leftButtons">
          <input type="checkbox"
            #inputRef
            title="toggle"
            hidden>
          <button [routerLink]="button.routerlink"
            [class]="button.class"
            #fatherBtn
            [class.position-relative]="button.dropdown?.length"
            [style]="button.badgeCalc ? '--badge: ' + button.badgeCalc() : ''"
            (click)="(button.onClick ? button.onClick() : null); inputRef.click()">
            <fast-icon *ngIf="button.icon"
              #iconRef
              [icon]="button.icon"
              [size]="20"
              [color]="button.iconColor || 'white'"
              (click)="$event.preventDefault(); $event.stopPropagation();fatherBtn.click()">
            </fast-icon>
            <div class="fast-header-btn-dropdown"
              fastFastClickOutside
              [ignore]="fatherBtn"
              (outside)="inputRef.click()"
              *ngIf="button.dropdown?.length && inputRef.checked">
              <ng-container *ngFor="let drop of button.dropdown">
                <button [routerLink]="drop.routerlink"
                  [class]="drop.class"
                  [style]="drop.badgeCalc ? '--badge: ' + drop.badgeCalc() : ''"
                  (click)="(drop.onClick ? drop.onClick() : null); inputRef.click()">{{drop.label}}
                  <fast-icon *ngIf="drop.icon"
                    [icon]="drop.icon"
                    [size]="20"
                    [color]="drop.iconColor || 'white'"></fast-icon>
                </button>
              </ng-container>
            </div>
          </button>
        </ng-container>
      </div>
    </ng-template>

  </div>
</header>
<input #checkbox
  hidden
  class="header-input"
  type="checkbox"
  title="toggle">
<div class="collapse">
  <div class="collapse-content">
    <button type="button"
      (click)="checkbox.click()"
      title="close"
      class="close"></button>
    <div class="fast-collapse-items">
      <ng-container *ngFor="let button of leftButtons">
        <input type="checkbox"
          #inputRef
          title="toggle"
          hidden>
        <button [routerLink]="button.routerlink"
          [class]="button.class"
          #fatherBtn
          [class.position-relative]="button.dropdown?.length"
          [style]="button.badgeCalc ? '--badge: ' + button.badgeCalc() : ''"
          (click)="(button.onClick ? button.onClick() : null); !button.dropdown ? checkbox.click() : inputRef.click()">{{button.label}}
          <fast-icon *ngIf="button.icon"
            #iconRef
            [icon]="button.icon"
            [size]="20"
            [color]="button.iconColor || 'white'"
            (click)="$event.preventDefault(); $event.stopPropagation();fatherBtn.click()">
          </fast-icon>
        </button>
        <div class="fast-header-btn-dropdown"
          fastFastClickOutside
          [ignore]="fatherBtn"
          (outside)="inputRef.click()"
          *ngIf="button.dropdown?.length && inputRef.checked">
          <ng-container *ngFor="let drop of button.dropdown">
            <button [routerLink]="drop.routerlink"
              [class]="drop.class"
              [style]="drop.badgeCalc ? '--badge: ' + drop.badgeCalc() : ''"
              (click)="(drop.onClick ? drop.onClick() : null); checkbox.click()">{{drop.label}}
              <fast-icon *ngIf="drop.icon"
                [icon]="drop.icon"
                [size]="20"
                [color]="drop.iconColor || 'white'"></fast-icon>
            </button>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="fast-content">
  <ng-content></ng-content>
</div>
