<header *ngIf="!show">
  <div class="header-content">
    <ng-container *ngIf="mobile else desktop">
      <div class="left">
        <button type="button"
          (click)="checkbox.click()"
          title="open"
          class="open"></button>
        <div class="logo"
          [routerLink]="['/home']"
          routerLinkActive="router-link-active">
        </div>
      </div>
    </ng-container>
    <ng-template #desktop>
      <div class="left">
        <div class="logo"
          [routerLink]="['/home']"
          routerLinkActive="router-link-active">
        </div>
      </div>
      <div class="right">
        <ng-container *ngFor="let button of leftButtons">
          <button [routerLink]="button.routerlink"
            [class]="button.class"
            [style]="button.badgeCalc ? '--badge: ' + button.badgeCalc() : null"
            (click)="button.onClick ? button.onClick() : null">{{button.label}}
            <fast-icon *ngIf="button.icon"
              [icon]="button.icon"
              [size]="20"
              color="white"></fast-icon>
          </button>
        </ng-container>
      </div>
    </ng-template>

  </div>
</header>
<input #checkbox
  hidden
  class="header-input"
  type="checkbox"
  title="toggle">
<div class="collapse">
  <div class="collapse-content">
    <button type="button"
      (click)="checkbox.click()"
      title="close"
      class="close"></button>
  </div>
</div>
<div class="fast-content">
  <ng-content></ng-content>
</div>
