<div class="fast-product-container">
  <div class="fast-product-details">
    <div class="fast-product-name">
      {{product.name}}
      <code class="fast-product-price">
        <strong>
          {{product.price | currency}}
        </strong>
      </code>
    </div>
    <div class="fast-product-description">
      {{product.description}}
    </div>
    <h5 class="mt-4"
      *ngIf="product.additionals?.length">Adicionais:</h5>
    <div *ngIf="product.additionals?.length"
      class="fast-addictionals">
      <div class="fast-addictional"
        *ngFor="let addictional of product.additionals">
        <div class="fast-addictional-info">
          <div class="fast-addictional-name">
            {{addictional.name}}
            <code>
              <strong>
                {{addictional.unitPrice | currency}}
              </strong>
            </code>
          </div>
          <div class="fast-addictional-description">
            {{addictional.description}}
          </div>
        </div>
        <div class="fast-choice">
          <fast-icon icon="minus"
            [size]="18"
            color="var(--primary)"
            (click)="btnMinusAdictional(addictional)">
          </fast-icon>
          <div class="fast-quantity">
            {{addictional.quantity}}
          </div>
          <fast-icon icon="plus"
            [size]="18"
            color="var(--primary)"
            (click)="btnAddAdictional(addictional)">
          </fast-icon>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="fast-add">
  <div class="fast-value-detail">
    Valor total:
    <code>
      <strong>
        {{(total || product.price) | currency}}
      </strong>
    </code>
  </div>
  <div class="fast-buttons">
    <button class="outline"
      (click)="btnClose()">Cancelar</button>
    <button (click)="btnAdd()">Adicionar ao carrinho</button>
  </div>
</div>
