<div class="fast-orders"
  *ngIf="searched else skeletons"
  infiniteScroll
  [infiniteScrollDistance]="0.5"
  [infiniteScrollThrottle]="100"
  [fromRoot]="true"
  (scrolled)="scroll()">
  <ng-container *ngFor="let order of orders">
    <input type="checkbox"
      hidden
      #detailsInput>
    <div class="fast-order"
      [class.fast-order-view]="detailsInput.checked">
      <span>
        <label for="number">Pedido: </label>
        <strong>{{order.number}}</strong>
      </span>
      <span>
        <label for="created">Criado:</label>
        <strong>{{order.created | date: 'dd/MM/yyyy HH:mm'}}</strong>
      </span>
      <span>
        <label for="recept">Quem recebe: </label>
        <strong>{{order.createdBy}}</strong>
      </span>
      <span>
        <label for="payment">Pagamento:</label>
        <strong>{{paymentType(order.payment)}}</strong>
      </span>
      <span>
        <label for="status">Status: </label>
        <strong>{{orderStatus(order.status)}}</strong>
      </span>
      <span detail
        (click)="detailsInput.click(); detail(order)"
        class="align-items-center cursor-pointer">
        <label for="detail">
          Detalhes
        </label>
        <fast-icon icon="chevron-down"
          [size]="20"
          color="var(--primary)"></fast-icon>
      </span>
      <ng-container *ngIf="detailsInput.checked && order.cache">
        <span>
          <label for="detail">
            Total:
          </label>
          <strong>{{total(order, order.cache?.products) | currency}}</strong>
        </span>
        <span>
          <label for="detail">
            Produtos:
          </label>
          <strong>{{order.products.length}}</strong>
        </span>
        <div class="fast-order-detail">
          <ng-container *ngFor="let restaurant of order.cache?.restaurants">
            <div class="fast-order-detail-restaurant">
              <div class="fast-restaurant-order-info">
                <div class="fast-restaurant-photo-name">
                  <div class="fast-restaurant-order-photo">
                    <img [src]="restaurant.photo"
                      alt="restaurant_photo">
                  </div>
                  <div class="fast-order-restaurant-name">
                    <label for="restaurant_name"
                      class="ellipsis">{{restaurant.name}}</label>
                    <span class="ellipsis">{{restaurant.kitchen}}</span>
                  </div>
                </div>
                <div class="fast-restaurant-order-rate">
                  <h3>
                    <strong>
                      {{restaurant.rate | number: '1.1-2'}}
                    </strong>
                  </h3>
                </div>
              </div>
              <div class="fast-restaurant-products">
                <ng-container *ngFor="let product of order.cache?.products">
                  <div class="fast-order-restaurant-product"
                    #productContainer
                    [style.--size.px]="productContainer.offsetHeight">
                    <span class="fast-order-restaurant-product-info">
                      <img [src]="product.image"
                        alt="product_image">
                      <div class="fast-order-restaurant-product-details">
                        <label for="product-label">
                          {{product.name}}
                        </label>
                        <p>{{product.description}}</p>
                        <strong *ngIf="productNote(product.id, order)">Observações:
                          {{productNote(product.id, order)}}</strong>
                        <span class="fast-product-price">
                          <label for="product_value">Valor: </label>
                          <strong>{{product.price | currency}}</strong>
                        </span>
                      </div>
                    </span>
                    <input type="checkbox"
                      title="hidden"
                      hidden
                      #inputAddictionalRef>
                    <div class="fast-order-restaurant-addictionals"
                      *ngIf="!!addictionals(product.id, order)?.length">
                      <span class="align-items-center"
                        (click)="inputAddictionalRef.click()">Adicionais <fast-icon
                          icon="square-arrow-right"
                          [size]="18"
                          color="gray"></fast-icon></span>
                      <div class="fast-addictional-product-order-list">
                        <table *ngIf="!isSmallMobile else additionalMobile">
                          <thead>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                            <th>Total</th>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="let additional of addictionals(product.id, order)">
                              <td>
                                <label class="ellipsis"
                                  for="addictionsl_name">
                                  {{additional.name}}
                                </label>
                              </td>
                              <td>
                                {{additional.quantity}}
                              </td>
                              <td>
                                <strong>
                                  {{additional.unitPrice | currency}}
                                </strong>
                              </td>
                              <td>
                                <strong>
                                  {{additional.total | currency}}
                                </strong>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <ng-template #additionalMobile>
                          <div class="fast-product-additional-mobile"
                            *ngFor="let additional of addictionals(product.id, order)">
                            <span>
                              <label for="nome">Nome</label>
                              <strong class="ellipsis">{{additional.name}}</strong>
                            </span>
                            <span>
                              <label for="quantidade">Quantidade</label>
                              <strong class="ellipsis">{{additional.quantity}}</strong>
                            </span>
                            <span>
                              <label for="valor">Valor</label>
                              <strong class="ellipsis">{{additional.unitPrice |
                                currency}}</strong>
                            </span>
                            <span>
                              <label for="total">Total</label>
                              <strong class="ellipsis">{{additional.total |
                                currency}}</strong>
                            </span>
                          </div>
                        </ng-template>
                      </div>
                      <div class="fast-product-order-total">
                        <span>
                          <label for="product_total_price">Total: </label>
                          <strong>
                            {{productTotal(order, product) | currency}}
                          </strong>
                        </span>
                      </div>

                    </div>
                  </div>
                </ng-container>

              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<ng-template #skeletons>
  <div class="fast-orders fast-skeleton">
    <ng-container *ngFor="let skeleton of skeletonSize">
      <div class="fast-order"
        skeleton>
        <span>
          <label for="number"
            skeleton></label>
          <strong skeleton></strong>
        </span>
        <span>
          <label for="created"
            skeleton></label>
          <strong skeleton></strong>
        </span>
        <span>
          <label for="recept"
            skeleton></label>
          <strong skeleton></strong>
        </span>
        <span>
          <label for="payment"
            skeleton></label>
          <strong skeleton></strong>
        </span>
        <span>
          <label for="status"
            skeleton></label>
          <strong skeleton></strong>
        </span>
      </div>
    </ng-container>
  </div>
</ng-template>
