<div class="container-fluid">
  <h2 class="fast-page-title">Cadastrar Restaurante</h2>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12 col-md-1">
        <fast-switch label="Status"
          formControlName="active"
          class="flex-column-reverse align-items-start"
          errorMessage></fast-switch>
      </div>
      <div class="col-12 col-md-2">
        <fast-image-uploader formControlName="photo"
          errorMessage></fast-image-uploader>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <fast-input label="Nome"
          errorMessage
          formControlName="name"></fast-input>
      </div>
      <div class="col-12 col-md-6">
        <fast-input label="Descrição"
          errorMessage
          formControlName="kitchen"></fast-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <fast-input label="Valor mínimo de frete"
          errorMessage
          type="currency"
          [maxlength]="5"
          [customErrors]="{
            max: 'O valor de frete não pode ser maior que R$ 999,99'
          }"
          formControlName="freight"></fast-input>
      </div>
      <div class="col-12 col-md-4">
        <fast-input label="Horário de abertura"
          formControlName="open"
          mask="00:00"
          errorMessage></fast-input>
      </div>
      <div class="col-12 col-md-4">
        <fast-input label="Horário de fechamento"
          formControlName="close"
          mask="00:00"
          errorMessage></fast-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <fast-select label="Endereço"
          [options]="address"
          formControlName="address"
          (search)="searchAddress($event)"
          [autocomplete]="true"
          (scroll)="scrollAddress()"
          errorMessage></fast-select>
      </div>
      <div class="col-12 col-md-6">
        <fast-select label="Sócios"
          [options]="owners"
          formControlName="owner"
          [autocomplete]="true"
          (scroll)="scrollUser()"
          (search)="searchUser($event)"
          errorMessage></fast-select>
      </div>
    </div>
    <div class="register-product"
      fastCollapse
      title="Produtos">
      <div class="fast-form-container">
        <div class="fast-form"
          formGroupName="product">
          <div class="row">
            <div class="col-12 col-md-1">
              <fast-switch label="Status"
                class="flex-column-reverse align-items-start"
                formControlName="active"
                errorMessage></fast-switch>
            </div>
            <div class="col-12 col-md-2">
              <fast-image-uploader errorMessage
                formControlName="image"
                errorMessage></fast-image-uploader>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <fast-input label="Nome"
                errorMessage
                formControlName="name"></fast-input>
            </div>
            <div class="col-12 col-md-6">
              <fast-input label="Preço"
                errorMessage
                [customErrors]="{
                              max: 'O valor do produto não pode ser maior que R$ 999,99'
                            }"
                type="currency"
                formControlName="price"></fast-input>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <fast-input label="Descrição"
                [maxLength]="255"
                errorMessage
                formControlName="description"
                type="textarea"></fast-input>
            </div>
          </div>
          <div formGroupName="additional"
            class="fast-form">
            <div class="row">
              <h5 class="fast-page-title">Adicionais</h5>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <fast-input label="Nome"
                  errorMessage
                  formControlName="name"></fast-input>
              </div>
              <div class="col-12 col-md-6">
                <fast-input label="Preço"
                  errorMessage
                  [customErrors]="{
                                        max: 'O valor do produto não pode ser maior que R$ 999,99'
                                      }"
                  type="currency"
                  formControlName="unitPrice"></fast-input>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <fast-input label="Descrição"
                  [maxLength]="255"
                  errorMessage
                  formControlName="description"
                  type="textarea"></fast-input>
              </div>
            </div>
            <div class="row">
              <fast-multiple-tags [tags]="addictionalTags"
                (add)="form.get('product.additional').valid && canAddAddictional ? btnAddAddictional() : form.get('product.additional').markAllAsTouched()"
                (edit)="form.get('product.additional').reset({active: true}); form.get('product.additional').patchValue($event.value)"
                (update)="update($event, addictionalTags, mountTagAdditional(), 'product.additional', addictionals)"
                (remove)="products.removeAt($event)">
              </fast-multiple-tags>
            </div>
          </div>
        </div>
      </div>
      <fast-multiple-tags [tags]="productTags"
        (add)="form.get('product').valid ? btnAddProduct() : form.get('product').markAllAsTouched()"
        (edit)="pathEdit($event)"
        (update)="update($event, productTags, mountTag(), 'product', products, true)"
        (remove)="products.removeAt($event)">
      </fast-multiple-tags>
    </div>
    <div class="fast-buttons d-flex justify-content-center">
      <button class="w-50"
        type="button"
        (click)="form.valid ? submit() : form.markAllAsTouched()">Cadastrar</button>
    </div>
  </form>
</div>
