@font-face {
  font-family: "lucky";
  src: url(./../fonts/lucky/Lucky_Skirt.ttf);
}
@font-face {
  font-family: "flower";
  src: url(./../fonts/flower/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: "perma-maker";
  src: url(./../fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
@font-face {
  font-family: "patrick";
  src: url(./../fonts/Patrick_Hand/PatrickHand-Regular.ttf);
}

.fast-page-title {
  color: var(--primary);
}
