* {
  box-sizing: border-box;
}

.fast-form-control-error {
  font-size: 10px;
  color: var(--primary);

  &.fast-msg-white {
    color: var(--bs-gray-100);
  }
}

.fast-ellipsis,
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
