button {
  cursor: pointer;
  min-height: 45px;
  outline: unset;
  border: 1px solid var(--secondary);
  background-color: var(--primary);
  border-radius: 6px;
  padding: 0px 10px;
  color: white;

  &.outline {
    color: unset;
    background-color: transparent;
  }
}
