:host {
  margin: 20px 0px 0px 0px;
  position: relative;
}
fast-icon {
  position: absolute;
  top: 8px;
  left: 5px;
  z-index: 10;
  transition: all 0.5s;

  &.right {
    right: 5px;
    top: 6px;
    left: unset;

    ~ mdb-form-control > input {
      padding-right: 30px !important;
    }
  }
}

input[currencymask] ~ label,
.fast-hide-label:not(:focus) ~ label {
  transform: translateY(-1.45rem) translateY(0.1rem) scale(0.8);
  border: 2px solid var(--bs-gray-300);
  border-bottom: 0px;
  padding: 0px 5px;
  border-radius: 5px 5px 0px 1px;
  background-color: white;
  z-index: 1;
}

textarea {
  transition: none !important;
  ~ span {
    position: absolute;
    right: 0px;
    color: var(--bs-gray-500);
    font-size: 12px;
  }
  &:focus ~ label {
    background-color: white;
    z-index: 1;
  }
}

input.left-icon {
  padding-left: 40px;

  &:not(:focus) ~ label {
    margin-left: 30px !important;
  }
}
:host([disabled="true"]),
:host(.disabled) {
  filter: opacity(0.5);
  cursor: not-allowed;
  pointer-events: none;
}
