:host {
  margin: 20px 0px 0px 0px;
  position: relative;
}
fast-icon {
  position: absolute;
  top: 8px;
  left: 5px;
  z-index: 10;

  &.right {
    right: 5px;
    top: 6px;
    left: unset;

    ~ mdb-form-control > input {
      padding-right: 30px !important;
    }
  }
}

input.left-icon {
  padding-left: 40px;

  &:not(:focus) ~ label {
    margin-left: 30px !important;
  }
}
:host([disabled="true"]),
:host(.disabled) {
  filter: opacity(0.5);
  cursor: not-allowed;
  pointer-events: none;
}
